{% assign author = site.author %}

<div class="h-card author__profile" itemscope itemtype="https://schema.org/Person">
  {% if author.avatar %}
    <div class="author__avatar">
      <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image" class="u-photo">
    </div>
  {% endif %}

  <div class="author__content">
    <h2 class="author__name p-name" itemprop="name">
      {{ author.name }}
    </h2>

    {% if author.job_title %}
      <span class="author__job_title">
        {{ author.job_title }}
      </span>
    {% endif %}

    {% if author.location %}
      <br> <!-- Forces a newline below job title -->
      <span class="author__location">
        <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
        {{ author.location }}
      </span>
    {% endif %}

    {% if author.social %}
      <ul class="author__urls">
        {% for profile in author.social %}
          <li>
            <a href="{{ profile.url | relative_url }}" title="{{ profile.label }}" rel="noopener noreferrer">
              <i class="{{ profile.icon }}" aria-hidden="true"></i>
              <!-- If you want NO text for Scholar, leave label empty in _config.yml -->
              {% if profile.label %}
                <span class="label">{{ profile.label }}</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if author.bio %}
      <p class="author__bio" itemprop="description">
        {{ author.bio | markdownify }}
      </p>
    {% endif %}
  </div>
</div>
